<h1>Our full range of distilleries are displayed below:</h1>
<% @distilleries.each do |distillery| %>

<p>Name: <%= distillery.name() %></p>
<p><a href="/distilleries/<%= distillery.id %>">Show Distillery</a></p>
<p>
      <form action="/distilleries/<%= distillery.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="DELETE" />
      </form>
</p>
<hr />
<% end %>
