<div>
<h3>CURRENT LIST OF DISTILLERIES</h3>
<% @distilleries.each do |distillery| %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">DISTILLERY NAME</th>
      <th scope="col">DISTILLERY LOCATION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=distillery.name()%></td>
      <td><%=distillery.region()%></td>
    </tr>
  </tbody>
</table>

<div>
<a href="http://localhost:4567/distilleries/new" class="btn btn-outline-dark btn-sm btn-block" role="button">ADD NEW DISTILLERY</a>
<form action="/distilleries/<%= distillery.id %>/edit" method="PUT">
  <input type="submit" class="btn btn-outline-dark btn-sm btn-block" value="UPDATE DISTILLERY"/>
    </form>
      <form action="/distilleries/<%= distillery.id %>/delete" method="POST">
        <input type="submit" class="btn btn-outline-danger btn-sm btn-block" value="DELETE DISTILLERY"/>
      </form>
    </div>
<% end %>
</div>
