<div class="table">
<h5>DISTILLERIES/SUPPLIERS</h5>
<hr>
<% @distilleries.each do |distillery| %>

<p>Name: <%= distillery.name() %></p>
<p>Region: <%= distillery.region() %></p>
<button type="button" class="btn btn-info"<a href="/distilleries/<%= distillery.id %>">SHOW ENTRY</a></button>
<div>
      <form action="/distilleries/<%= distillery.id %>/delete" method="POST">
        <input class="btn btn-danger" type="submit" value="DELETE ENTRY" />
      </form>
    </div>
<hr />
<% end %>
</div>
