<table>
  <th>New Distillery</th>
</table>
  <form class="center" method="post" action="/distilleries">
      <label for="name">Distillery Name</label>
      <input id="name" type="text" name="name" placeholder="Enter distillery name">
      <label for="region">Region of Distillery</label>
      <input id="region" type="text" name="region" placeholder="Enter region">
    </br>
      <input type="Submit" value="Add Distillery">
</form>
