<form method="post" action="/distilleries">
  <label for="name">Distillery Name:</label>
    <input id="name" type="text" name="name" />
        <input type='submit' value="Add New Distillery"/>
</form>
