<p class="add_item">PLEASE ADD NEW DISTILLERY BELOW:</p>
<form class ="form-inline" method="post" action="/distilleries">
    <div class="form-group">
  <label for="name">Distillery Name:</label>
    <input id="name" type="text" class="form-control" name="name" placeholder="Enter distillery name" />
      <label for="region">Region:</label>
        <input id="region" type="text" class="form-control" name="region" placeholder="Enter region here" />
        <input class="button" type="submit" value="ADD NEW DISTILLERY"/>
</form>
