<table>
  <thead>
  <tr>
    <th>Name of distillery</th>
    <th>Region of distillery</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @distilleries.each do |distillery| %>
<tr>
  <td>
  <%= distillery.name %>
</td>

<td>
<%= distillery.region %>
</td>
<td></td>
<td>
  <form method="get" action="/distilleries/<%= distillery.id %>">
    <input type="submit" value="Edit item"></form>
  </td>
  <td>
    <form method="post" action="/distilleries/<%= distillery.id %>/delete">
      <input type="submit" value="Delete item" />
    </form>
  </td>
<% end %>
</tr>
</tbody>
</table>
