<section>
<a class="links" href="/bottles">Stock</a>
<p>Go to this page to check the quantity of stock you have in your inventory, delete and/or update stock.</p>
</section>

<section>
  <a class="links" href="/bottles/new">Add stock</a>
  <p>Go to this page to add a new product to your inventory.</p>
</section>

<section>
  <a class="links" href="/distilleries">Distilleries</a>
  <p>Go to this page to check what distilleries you are currently sourcing your whisky from.</p>
</section>

<section>
  <a class="links" href="/distilleries/new">Add distillery</a>
  <p>Go to this page to add a new distillery to your list of distilleries.</p>
</section>
