<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Homepage</title>
</head>
<body>
  <section class ="homepage">
    <h3>Whisky Villains stock management tool</h3>
    <section>
      <h4>Stock</h4>
      <p>Go to Stock page to check the amount of stock you have in your inventory, delete and/or update stock.<br>
        Furthermore, useful management information such as product mark-up and stock level(high/medium/low).</p>
      </section>

      <section>
        <h4>Add stock</h4>
        <p>Go to Add stock page to add a new product to your inventory.</p>
      </section>

      <section>
        <h4>Distilleries</h4>
        <p>Go to Distillery to check what distilleries you are currently sourcing your whisky from.</p>
      </section>

      <section>
        <h4>Add distillery</h4>
        <p>Go to Add distillery to add a new distillery to your list of distilleries.</p>
      </section>
    </section>
    <footer class="footer"> (c) 2018 Whisky Villains</footer>
  </body>
  </html>
