<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Homepage</title>
</head>
<body>
  <section class ="homepage">
    <h3>WHISKY VILLAINS INVENTORY TOOL</h3>
    <section>
      <!-- renders partial template called _navigation -->
      <%= erb :"_navigation" %>
    </section>
  </section>
  </body>
  </html>
