<p>Our full range of whisky bottles are displayed below:</p>
<% @bottles.each do |bottle| %>

<p>Brand: <%= bottle.name() %></p>
<p>Type: <%= bottle.type() %></p>
<p>Quantity: <%= bottle.quantity() %></p>
<p>Distillery: <%= bottle.distillery.name() %></p>
<hr />
<% end %>
