<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whisky Shop</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
  <nav>
    <div class="grid">
      <div class="grid-row grid-row-lg">
        <div class="cell"><a class="navBarLinks" href="/">Homepage</a></div>
        <div class="cell"><a class="navBarLinks" href="/bottles">Stock</a></div>
        <div class="cell"><a class="navBarLinks" href="/bottles/new">Add stock</a></div>
        <div class="cell"><a class="navBarLinks" href="/distilleries">Distilleries</a></div>
        <div class="cell"><a class="navBarLinks" href="/distilleries/new">Add distillery</a>
        </div>
      </div>
    </nav>
  </div>
  <!-- before yield -->
    <%= yield %>
    <!-- after yield -->
  <footer class="footer"> (c) 2018 Whisky Villains</footer>
  </body>
  </html>
