<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
          <a href="/bottles">Whisky Selection</a>
    </nav>
    <%= yield %>
  </body>
</html>
