<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Whisky Shop</title>
  </head>
  <body>
    <nav>
          <a href="/bottles">Inventory</a>
          <a href="/bottles/new">Add a new product</a>
          <a href="/distilleries">Distilleries</a>
          <a href="/distilleries/new">Add a new distillery</a>
    </nav>
    <%= yield %>
  </body>
</html>
