<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whisky Shop</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <nav>
    <div class="grid">
      <div class="grid-row grid-row-lg">
        <div class="cell"><a href="/bottles/homepage">Homepage</a></div>
        <div class="cell"><a href="/bottles">Stock</a></div>
        <div class="cell"><a href="/bottles/new">Add stock</a></div>
        <div class="cell"><a href="/distilleries">Distilleries</a></div>
        <div class="cell"><a href="/distilleries/new">Add distillery</a>
        </div>
      </div>
    </nav>
  </div>
    <%= yield %>
  </body>
  </html>
