<form method="post" action="/bottles">
  <label for="name">Brand:</label>
    <input id="name" type="text" name="name" />

  <label for="type-select">Select type:</label>
    <select id="type-select" name="type">
      <option value="Single Malt">Single Malt</option>
      <option value="Blended">Blended</option>
    </select>

    <label for="distillery-id">Select distillery:</label>
      <select id="distillery-id" name="distillery_id">
        <% for distillery in @distilleries %>
          <option value="<%= distillery.id %>"><%= distillery.name %></option>
        <% end %>
      </select>

  <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" name="quantity"/>

    <input type='submit' value="Add New Product"/>
</form>
