<table>
  <thead>
    <tr>
      <th>Distillery</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Buy Price</th>
      <th>Sell Price(£)</th>
      <th></th>
    </tr>
  </thead>
  <form method="post" action="/bottles">

    <td>
      <label for="distillery-id"></label>
      <select id="distillery-id" name="distillery_id">
        <% for distillery in @distilleries %>
        <option value="<%=distillery.id%>"><%=distillery.name%></option>
        <% end %>
      </select>
    </td>

    <td>
      <label for="brand"></label>
      <input id="brand" type="text" name="name" placeholder="Enter brand">
    </td>

    <td>
      <label for="type-selector">Select type</label>
      <select id="type-selector" name="type">
        <option value="Single Malt">Single Malt</option>
        <option value="Blended">Blended</option>
      </select>

      <td>
        <label for="quantity"></label>
        <input id="quantity" type="number" name="quantity" min="1" placeholder="Enter quantity">
      </td>

      <td>
        <label for="buy_price"></label>
        <input id="buy_price" type="number" name="buy_price" min="1" placeholder="Enter buy price">
      </td>

      <td>
        <label for="sell_price"></label>
        <input id="sellprice" type="number" name="sell_price" min="1" placeholder="Enter sell price">
      </td>

      <td>
        <input type="Submit" value="Add Stock">
      </td>

    </form>
  </table>
