<p class="add_item">PLEASE ADD NEW STOCK BELOW:</p>
<form class="bottle_form" method="post" action="/bottles">
  <label for="name">Brand</label>
    <input type="text" name="name" class="form-control" placeholder="Enter brand here" />
    <br>
  <label for="type-select">Select type</label>
    <select id="type-select" name="type" class="form-control">
      <option value="Single Malt">Single Malt</option>
      <option value="Blended">Blended</option>
    </select>
    <br>
    <label for="distillery-id">Select distillery</label>
      <select id="distillery-id" name="distillery_id" class="form-control">
        <% for distillery in @distilleries %>
          <option value="<%= distillery.id %>"><%= distillery.name %></option>
        <% end %>
      </select>
<br>
  <label for="quantity">Quantity</label>
    <input id="quantity" type="number" name="quantity" class="form-control" placeholder="Enter quantity here"/>
    <br>
  <label for="buy_price">Buy price</label>
    <input id="buy_price" type="number" name="buy_price" class="form-control" placeholder="Enter buy price here"/>
    <br>
  <label for="sell_price">Sell price</label>
    <input id="sell_price" type="number" name="sell_price" class="form-control" placeholder="Enter sell price here"/>
    <br>
    <input class="button" type="submit" value="ADD NEW PRODUCT"/>
</form>
<footer class="footer"> (c) 2018 Whisky Villains</footer>
