html {
  font-family: monospace;
}

.index {
  font-family: monospace;
  text-align: center;
}

.table {
  margin-left: 5px;
}

.show {
color: black;
}

.links {
  color: black;
}

button {
  position: relative;
  bottom: 3px;
}

.grid {
  border: solid 2px white;
}

.grid-row {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.cell {
  flex: 1;
  padding: 10px;
  border: solid 1px white;
}

a {
  color: white;
  font-family: monospace;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@media all and ( min-width: 480px ) {

  .grid-row-lg {
    flex-direction: row;
  }
