p {
  font-family: monospace;
}

.table {
  margin-left: 4px;
}

button {
  position: relative;
  bottom: 3px;
}

.grid {
  border: solid 2px white;
}

.grid-row {
  display: flex;
  flex-direction: row;
  background-color: black;
}

.cell {
  flex: 1;
  padding: 10px;
  border: solid 1px white;
}

a {
  color: white;
  font-family: monospace;
}
