body {
  font-family: monospace;
  background-color: white;
}

nav {
  background-color: #e3f2fd;
}

.li{
  display: inline;
  float: left;
}


h3 {
  text-align:center;
}
/* .grid {
    border: solid 2px white;
} */

/* .grid-row {
display: flex;
flex-direction: row;
background-color: black;
} */

/* .cell {
flex: 1;
padding: 10px;
border: solid 1px white;
} */

.footer {
}

/* @media all and ( min-width: 480px ) {

.grid-row-lg {
    flex-direction: row;
  } */
